@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */
@import 'daisyui/dist/full.css';


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-contrast: high) {
  :root {
    --foreground-rgb: 255, 255, 0; /* yellow text */
    --background-start-rgb: 0, 0, 0; /* black background start */
    --background-end-rgb: 0, 0, 0; /* black background end */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
